.container {
    display: grid;
    height: 440px;
    width: 272px;    
    overflow: hidden;
    grid-template-columns: repeat(4, 68px);
    grid-template-rows: 1fr repeat(4, 65px); 
    grid-auto-flow: row;
}

.painel-right {
    display: grid;
    grid-template-columns: 75px;
    grid-column: 4;
    grid-row: 2 / 5;
    grid-template-rows: repeat(5, 52px);     
} 